/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
    margin: 10px;
}

.full-width{
    width: 100%;
}

.mat-toolbar{
    margin-bottom: 10px;
}

.example-spacer {
    flex: 1 1 auto;
}

.button-container{
    display: flex;
    justify-content: flex-end
}

.symbol{
    width: 100px;
}

.ticker-symbol{
    font-size: 18px;
}