<div class="card">
    <div class="card-body" *ngIf="equity$ | async as equity">
        <h2 class="card-title">Cost Basis - {{equity | costBasis | currency}}</h2>
        <p class="card-text">Current Shares - <span style="font-weight: bold;">{{equity.shares}}</span></p>
        <div class="button-container">
            <button class="btn btn-primary m-1" (click)="buttonClick()">Edit</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-summary></app-summary>
        </div>
        <div class="col">
            <app-details></app-details>
        </div>
    </div>
</div>