<div class="card">
    <div class="card-body" [ngClass]="{'green': inChart, 'white': !inChart}">
        <div style="display: flex;">
            <img style="padding-bottom: 10px" src="assets/show_chart.svg">
            <h2 class="card-title">Stock Charts</h2>
        </div>
        <div class="button-container">
            <button class="btn btn-primary m-1" (click)="buttonClick()">Edit</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-delta [equity]="equity"></app-delta>
        </div>
        <div class="col">
            <app-trade [equity]="equity" (order)="orderPlaced($event)"></app-trade>
        </div>
    </div>
</div>