<div class="card">
    <div class="card-body">
        <!-- #CODE Template Method -->
        <h2 class="card-title">Cost Basis - {{getCostBasis() | currency}}</h2>
        <p class="card-text">Current Shares - <span style="font-weight: bold;">{{equity.shares}}</span></p>
        <div class="button-container">
            <button class="btn btn-primary m-1" (click)="buttonClick()">Edit</button>
            <!-- <button class="btn btn-primary m-1" (click)="detach()">Detach</button>
            <button class="btn btn-primary m-1" (click)="reattach()">Reattach</button> -->
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-summary [equity]="equity"></app-summary>
        </div>
        <div class="col">
            <app-details [equity]="equity"></app-details>
        </div>
    </div>
</div>